body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #a6e4e7;
  height: 100vh;
  box-shadow: 0 4px 30px -1px gray inset;
}
.logo-text {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.first-Logo {
  color: #1e90ff;
}
.patient-Logo {
  color: #2c3e50;
}

.content {
  font-weight: 700;
}
.header-content {
  padding: 10% 0 0 0;
  position: relative;
  right: 17%;
  top: 30px;
  color: #2c3e50;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; /* Center the text */
}

.header-content h1 {
  margin: 5% 0 0 0;
  font-size: 48px;
  font-weight: 700;
}
.sub-content {
  margin-top: 1%;
  position: relative;
  left: 12%;
  top: 30px;
  width: 40%;
  color: #2c3e50;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 55;
}
.service-content {
  display: flex;
  text-align: center;
  margin-top: 5%;
}
.services {
  margin: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

.services-header {
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c3e50;
}
.firstCardSection div,
.secondCardSection div {
  margin: 5%;
  padding: 5%;
  background-color: rgb(30, 144, 255, 25%);
  height: 45%;
}

.footer {
  background-color: rgba(44, 62, 80, 1);
  position: relative;
  bottom: 0;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.footer-logo,
.footer-hours,
.footer-contacts,
.footer-thoughts {
  margin: 0 2%;
  font-size: 12px;
}

.footer .footer-logo {
  width: 30%;
  font-size: 45px;
}

.patientLogo {
  color: #fafafa;
}
.firstLogo {
  color: #1e90ff;
}
.footer .footer-hours {
  width: 25%;
}
.hoursHeader {
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .hoursSchedule {
  display: flex;
  width: 100%;
}
.footer .hoursSchedule div {
  flex: 1 1 100%;
  line-height: 0.5;

}
.footer .footer-contacts {
  width: 25%;
}
.contactsFooter{
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
#contact-info{
  margin: 0;
}
.footer .footer-thoughts {
  width: 25%;
}
.thoughtsFooter{
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
#title {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-bottom {
  background-color: rgba(44, 62, 80, 1);
  color: #ffffff;
  text-align: center;
  padding: 0.5% 0;
}
@media screen and (max-width: 992px) {
  .header-content {
    align-items: center;
    position: relative;
    right: 0;
    color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header-content h1 {
    margin: 5% 0 0 0;
    font-size: 38px;
    font-weight: 700;
  }
  .sub-content {
    align-items: center;
    width: auto;
    position: relative;
    left: 0;
    margin-top: 1%;
    padding: 3%;
    color: #2c3e50;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 55;
  }

  .services {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
}
