.doctor-specialty {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.doctor-content-container {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 340px auto;
}
.btn {
  width: 150px;
}

.doctor-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.doctor-card:hover {
  transform: scale(1.1);
}
